@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Comfortaa;
    user-select: none;
}

a.active hr{
    display: block;
}

a.active p{
    font-weight: bold;
}

::-webkit-scrollbar{
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 640px) {
    .side-menu a.active{
        background-color: black;
        color: white;
    }
}